[Unit]
Description=SunStop Monitor service
After=network.target

[Service]
ExecStart=/usr/bin/ruby /home/user/SunStop/app.rb
WorkingDirectory=/home/user/SunStop
Restart=always
User=user   # Replace with the user who should run the program
Group=user  # Replace with the group for the user

[Install]
WantedBy=multi-user.target
