[Unit]
Description=SunStop Monitor service
After=network.target

[Service]
ExecStart=/usr/bin/ruby /home/user/SunStop/app.rb
WorkingDirectory=/home/user/SunStop
Restart=always
User=user
Group=user

[Install]
WantedBy=multi-user.target
